networks:
  rabbitnet:
    name: rabbitnet
    driver: bridge

x-rmq-common: &common-config
  networks:
    - rabbitnet
  build: rmq
  environment:
    RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: -rabbit cluster_formation [{peer_discovery_backend,rabbit_peer_discovery_classic_config}] -rabbit cluster_nodes {[rabbit@rmq2,rabbit@rmq1,rabbit@rmq0],disc}
  mem_limit: 8gb
  ulimits:
    nofile:
      soft: 65536
      hard: 131072

services:
  rmq0:
    <<: *common-config
    hostname: rmq0
    volumes:
      - ./data/rmq0:/var/lib/rabbitmq/mnesia
      - ./log/rmq0:/var/log/rabbitmq
    ports:
      # HOST:CONTAINER
      - 8872:15672
      - 15692:15692
  rmq1:
    <<: *common-config
    hostname: rmq1
    volumes:
      - ./data/rmq1:/var/lib/rabbitmq/mnesia
      - ./log/rmq1:/var/log/rabbitmq
    ports:
      # HOST:CONTAINER
      - 8873:15672
      - 15693:15692
  rmq2:
    <<: *common-config
    hostname: rmq2
    volumes:
      - ./data/rmq2:/var/lib/rabbitmq/mnesia
      - ./log/rmq2:/var/log/rabbitmq
    ports:
      # HOST:CONTAINER
      - 8874:15672
      - 15694:15692
