networks:
  rabbitnet:
    name: rabbitnet
    driver: bridge

x-rmq-common: &common-config
  networks:
    - rabbitnet
  mem_limit: 8gb
  ulimits:
    nofile:
      soft: 65536
      hard: 131072

services:
  rmq0:
    <<: *common-config
    hostname: rmq0
    build: rmq0
    volumes:
      - ./data/rmq0:/var/lib/rabbitmq/mnesia
      - ./log/rmq0:/var/log/rabbitmq
    ports:
      # HOST:CONTAINER
      - 8872:15672
      - 15692:15692
  rmq1:
    <<: *common-config
    hostname: rmq1
    build: rmq1
    volumes:
      - ./data/rmq1:/var/lib/rabbitmq/mnesia
      - ./log/rmq1:/var/log/rabbitmq
    ports:
      # HOST:CONTAINER
      - 8873:15672
      - 15693:15692
  rmq2:
    <<: *common-config
    hostname: rmq2
    build: rmq2
    volumes:
      - ./data/rmq2:/var/lib/rabbitmq/mnesia
      - ./log/rmq2:/var/log/rabbitmq
    ports:
      # HOST:CONTAINER
      - 8874:15672
      - 15694:15692
  stream-perf-test:
    image: pivotalrabbitmq/stream-perf-test:latest
    networks:
      - rabbitnet
    command:
      - --uris rabbitmq-stream://haproxy:5552
      - --producers 5
      - --consumers 5
      - --rate 1000
      - --delete-streams
      - --max-age PT30S
      - --load-balancer
    depends_on:
      - rmq0
      - rmq1
      - rmq2
      - haproxy
    restart: on-failure
  dotnet-stream-client-app:
    build: dotnet-stream-client-app
    networks:
      - rabbitnet
    environment:                                 
      - RABBITMQ_HOST=haproxy
      - RABBITMQ_PORT=5552                       
    depends_on:
      - rmq0
      - rmq1
      - rmq2
      - haproxy
    restart: on-failure
    stop_grace_period: 30s
  haproxy:
    build: rmq1
    image: haproxy:latest
    networks:
      - rabbitnet
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    depends_on:
      - rmq0
      - rmq1
      - rmq2
    ports:
      # HOST:CONTAINER
      - 15672:15672
      - 5672:5672
      - 5552:5552
