[
    {kernel, [
        {net_ticktime,  15}
    ]},
    {rabbit, [
        {config_entry_decoder, [
            {passphrase, <<"test1234">>}
        ]},
        {ssl_options, [
            {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
            {certfile,   "/etc/rabbitmq/server_rmq1.local_certificate.pem"},
            {keyfile,    "/etc/rabbitmq/server_rmq1.local_key.pem"},
            {password, {encrypted,<<"LY32dMsYJ5AQZe4JVM1XCrMq6dDnyqJ90WYONcg6hDu26ke33oaPK+C6PoA/MJ2BHEFdrb8LOeHBnjlrJ3hvFQ==">>}},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true}
        ]},
        {ssl_listeners, [5671]}
    ]},
    {rabbitmq_management, [
        {listener, [
            {port, 15671},
            {ssl, true},
            {ssl_opts, [
                {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
                {certfile,   "/etc/rabbitmq/server_rmq1.local_certificate.pem"},
                {keyfile,    "/etc/rabbitmq/server_rmq1.local_key.pem"},
                {password, {encrypted,<<"LY32dMsYJ5AQZe4JVM1XCrMq6dDnyqJ90WYONcg6hDu26ke33oaPK+C6PoA/MJ2BHEFdrb8LOeHBnjlrJ3hvFQ==">>}},
                {verify, verify_none},
                {fail_if_no_peer_cert, false},
                {client_renegotiation, false},
                {secure_renegotiate, true},
                {honor_ecc_order, true},
                {versions,['tlsv1.2']},
                {ciphers, [
                    "ECDHE-ECDSA-AES256-GCM-SHA384",
                    "ECDHE-ECDSA-AES128-GCM-SHA256",
                    "ECDHE-RSA-AES256-GCM-SHA384",
                    "ECDHE-RSA-AES128-GCM-SHA256",
                    "ECDH-ECDSA-AES128-GCM-SHA256",
                    "ECDH-ECDSA-AES256-GCM-SHA384",
                    "ECDH-RSA-AES128-GCM-SHA256",
                    "ECDH-RSA-AES256-GCM-SHA384"
                ]}
            ]}
        ]}
    ]}
].
