[
    {server, [
        {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
        {certfile, "/etc/rabbitmq/server_rmq2.local_certificate.pem"},
        {keyfile, "/etc/rabbitmq/server_rmq2.local_key.pem"},
        {verify, verify_peer},
        {fail_if_no_peer_cert, true}
    ]},
    {client, [
        {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
        {certfile, "/etc/rabbitmq/client_rmq2.local_certificate.pem"},
        {keyfile, "/etc/rabbitmq/client_rmq2.local_key.pem"},
        {verify, verify_peer}
    ]}
].
